<ion-header>
  <ion-navbar >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="projectName">{{projectName}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-toolbar>
      <ion-segment [(ngModel)]="activeTab"  >
        <ion-segment-button value="details">
          Details
        </ion-segment-button>
        <!-- <ion-segment-button value="requirements">
          Requiremens
        </ion-segment-button> -->
        <ion-segment-button value="members">
          Members
        </ion-segment-button>
        <ion-segment-button value="requests">
          Requests
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
    <div [ngSwitch]="activeTab">
      <ion-list *ngSwitchCase="'details'" >
        <h1>Project Name : {{projectDetails.name}}</h1>
        <p>
          {{projectDetails.description}}
        </p>
      </ion-list>
      <!-- <ion-list *ngSwitchCase="'requirements'">
        <p>
            {{projectDetails.requirements}}
        </p>
      </ion-list> -->
      <ion-list *ngSwitchCase="'members'">
        <ion-list>
            <ion-item *ngFor="let member of projectMembers;">
              <ion-grid>
                <ion-row>
                  <ion-col col-8>
                    <span >{{member.email}}</span>
                  </ion-col>
                  <ion-col col-4>
                      <button *ngIf="isAdmin" ion-button (click)="removeFromProject(member.key,projectDetails.key,$event)">Remove</button>
                    </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
        </ion-list>
        <ion-fab right bottom>
            <button ion-button class="round" round color="danger" (click)="addMembers()">
              <ion-icon name="add"></ion-icon>
            </button>
          </ion-fab>
      </ion-list>
      <ion-list *ngSwitchCase="'requests'">
        <ion-list>
          <ion-item *ngFor="let member of projectRequestMembers;">
            <ion-grid>
              <ion-row>
                <ion-col col-8>
                  <span >{{member.email}}</span>
                </ion-col>
                <ion-col col-4>
                    <button  *ngIf="isAdmin" [ngClass]="(isDelete) ? 'hide' : 'show'" ion-button (click)="addMemmberToProject(member.key)">Add</button>
                  </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-list>
    </div>
</ion-content>
