<ion-header>
  <ion-navbar >
    <button menuToggle *ngIf="!chatName">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="chatName">{{chatName}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <div class="message-wrap">
      <div *ngFor="let message of messagesList"
          class="message">
        <div class="msg-detail">
          <div class="msg-content">
            <p>{{message.name}}</p>
            <p class="line-breaker ">{{message.message}}</p>
          </div>
        </div>
      </div>
    </div>
</ion-content>
<ion-footer no-border>
  <ion-grid class="input-wrap">
    <ion-row>
      <ion-col col-10>
        <ion-textarea
                [(ngModel)]="newmessage" placeholder="Enter message"
        ></ion-textarea>
      </ion-col>
      <ion-col col-2>
        <button ion-button clear icon-only item-right
               (click)="send()">
          <ion-icon ion-button clear item-right  name="ios-send" ios="ios-send" md="md-send"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>