<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!chatName">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="chatName">{{chatName}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
      <ion-item *ngFor="let message of chats">
        <div class="messages">
          <div class="message">
            <span class="text">{{message}}</span>
          </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-10>
        <ion-item>
        <ion-input type="text" [(ngModel)]="chat_input" placeholder="Enter message"></ion-input>
      </ion-item>
      </ion-col>
      <ion-col col-2>
        <button class="send-button" ion-button (click)="send(chat_input)"><ion-icon name="paper-plane"></ion-icon></button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>