<ion-header>
  <ion-navbar color="nav-color">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-grid>
      <ion-row>
        <ion-col col-11>
          <ion-title>Technology</ion-title>
        </ion-col>
        <ion-col col-1>
          <ion-icon *ngIf="isValid" name="trash"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel"></ion-searchbar>
  <div>
    <!--<input type="checkbox" (click)="deleteItem($event, item)">-->
    <ion-list>
        <ion-item *ngFor="let item of technologies; let i=index" (click)="itemTapped($event, item)">
          <ion-grid>
            <ion-row>
              <ion-col>
                <span >{{item.technology}}</span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
    </ion-list>
  </div>
  <ion-fab right bottom>
   <button ion-button round color="danger" (click)="presentTechnologyModal()">
     <ion-icon name="add"></ion-icon>
   </button>
 </ion-fab>
</ion-content>
