<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="selectedItem">{{selectedItem.technology}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3 text-center *ngIf="selectedItem">
    {{selectedItem.technology}}
    <ion-icon [name]="selectedItem.icon"></ion-icon>
  </h3>
  <h4 text-center *ngIf="selectedItem">
    You navigated here from <b>{{selectedItem.technology}}</b>
  </h4>
  <iframe width="100%" height="315" [src]="videoUrl" frameborder="0" allowfullscreen></iframe>
</ion-content>
