<ion-header>
  <ion-navbar >
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="selectedItem">{{selectedItem.technology}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid *ngFor= "let video of videos"> 
      <ion-col col-12>
        <ion-card>
          <ion-card-header text-center>
            {{video.title}}
          </ion-card-header>
          <ion-card-content text-center>
            <iframe width="80%" height="80%" [src]="video | data" frameborder="0" allowfullscreen></iframe>
          </ion-card-content>
        </ion-card>
      </ion-col>
  </ion-grid>
</ion-content>
