.dark-theme {
  $colors: (
    primary:    #488aff,
    secondary:  #32db64,
    danger:     #f53d3d,
    light:      #f4f4f4,
    dark:       #222,
    nav-color : #090f2f
  );
  ion-content {
    background-color: #363232;
    color: #fff;
  }

  ion-item {
    background-color: #363232;
    color: #fff;
  }

  .header-color{
    background-color: #090f2f;
  }
  .toolbar-title {
    color: #fff;
  }
  
  ion-header {
    background-color: #090f2f;
  }

  .header .toolbar-background {
    background-color: #090f2f;
  }

  .toolbar-background-md {
    background: #434343;
  }
  .item-md {
    background-color: #363232;
    color: white;
  }

  .dark-content{
    background-color: #363232;
    color: white;
  }  
}