<ion-header>
  <ion-navbar >
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Create Group</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
 <ion-searchbar [(ngModel)]="searchTerm" [showCancelButton]="true" (ionInput)="setFilteredItems()" ></ion-searchbar>
    <ion-card>
      <ion-scroll scrollX="true">
        <ion-col col-33 *ngFor="let friend of groupmembers;" (click)="deleteFromGroup(friend)">
            <span>{{friend}},</span>
        </ion-col>
      </ion-scroll>
    </ion-card>
  <ion-item-divider>
    Add Members
  </ion-item-divider>
  <ion-item>
    <ion-list>
        <ion-item *ngFor="let friend of friends" (click)="addToGroup(friend)">
          <ion-grid>
            <ion-row>
              <ion-col col-12>
                <span>{{friend}}</span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
    </ion-list>
  </ion-item>
</ion-content>
<ion-footer>
	<ion-fab left bottom>
		<button ion-button (click)="skipGroup()">Skip</button>
	</ion-fab>
	<ion-fab right bottom>
		<button ion-button (click)="addGroup()">Add</button>
	</ion-fab>
</ion-footer>