page-project-details {
    .push-right{
        float: right;
    }
    .push-left{
        float: left;
    }
    .round{
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }
}
