<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Test</ion-title>
  </ion-navbar>
  </ion-header>
  <ion-content>
  <ion-list>
      <ion-item *ngFor="let message of chatMessages">
        <div class="messages">
          <ion-grid>
            <ion-row>
              <ion-col col-12>
                <div class="message">
                  <span class="text push-left">
                    {{message}}
                  </span>
                </div>
              </ion-col>
              <ion-col col-12 *ngIf="typeIndicator">
                <div class="push-left typing-indicator">
                  <span class="dot"></span>
                  <span class="dot"></span>
                  <span class="dot"></span>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
